# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://nykgmfhevxounyeopspx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55a2dtZmhldnhvdW55ZW9wc3B4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU4Mzg5MjksImV4cCI6MjA1MTQxNDkyOX0.kj8Zkek9OOHwhSYy_v_tmapqC2J-vmTIxSs1ykJ408k

# Email Configuration (if using email service)
NEXT_PUBLIC_EMAIL_SERVICE_ID=service_o9o6jqa
NEXT_PUBLIC_EMAIL_TEMPLATE_ID=template_7hpn0pp
NEXT_PUBLIC_EMAIL_CONFIRMATION_TEMPLATE_ID=template_2g2msuh
NEXT_PUBLIC_EMAIL_PUBLIC_KEY=RS5oW73Ma2KPlJfJZ

# Other Configuration
NODE_ENV=development
